{% extends 'base.html' %}

{% block meta %}
<title>Song Detail</title>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #F4EFEA; /* Light cream background */
        overflow-x: hidden; /* Prevent horizontal overflow */
    }
    .centered-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .card {
        background: #FFF8F0; /* Light sandy color */
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 80%;
        max-width: 600px;
        margin: 20px;
        text-align: left;
    }
    h1, p {
        color: #5D4037; /* Dark brown */
    }
    .btn {
        display: inline-block;
        width: 100%;
        padding: 8px 15px;
        margin-top: 10px;
        background-color: #D7CCC8; /* Light brown */
        color: #5D4037; /* Dark brown */
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #A1887F; /* Darker brown */
        color: #FFF;
    }
    .slider {
        width: 100%; /* Full width sliders */
        margin: 10px 0;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="centered-container">
    <div class="card">
        <h1>SONG DETAIL</h1>
        <p><strong>Judul:</strong> {{ song_info.judul_lagu }}</p>
        <p><strong>Genre(s):</strong> {{ genre | join:", " }}</p>
        <p><strong>Artist:</strong> {{ song_info.nama_penyanyi }}</p>
        <p><strong>Songwriter(s):</strong> {{ songwriter | join:", " }}</p>
        <p><strong>Durasi:</strong> {{ song_info.durasi }} menit</p>
        <p><strong>Tanggal Rilis:</strong> {{ song_info.tanggal_rilis }}</p>
        <p><strong>Tahun:</strong> {{ song_info.tahun }}</p>
        <p><strong>Total Play:</strong> {{ song_info.total_play }}</p>
        <p><strong>Total Downloads:</strong> {{ song_info.total_download }}</p>
        <p><strong>Album:</strong> {{ song_info.judul }}</p>

        <form method="POST" action="#">
            {% csrf_token %}
            <input type="range" id="progress" name="progress" min="0" max="100" value="0" class="slider">
            <button type="submit" class="btn">Play</button>
        </form>
        
        {% if request.session.is_premium %}
            <form method="POST" action="{% url 'download_song' id_song=song_info.id_konten %}">
                {% csrf_token %}
                <button type="submit" class="btn">Download</button>
            </form>
        {% endif %}
        
        <a href="{% url 'add_song_to_playlist' id_song=song_info.id_konten %}" class="btn">Add to Playlist</a>
        <a href="#" class="btn" onclick="history.back(); return false;">Kembali</a>
    </div>
</div>
{% endblock content %}
