{% extends 'base.html' %}

{% block meta %}
<title>Main Page</title>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #F4EFEA; /* Light cream background */
    }
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .card {
        background: #FFF8F0; /* Light sandy color */
        border-radius: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: 500px; /* Adjust width as necessary */
        text-align: center;
        margin-top: 4%;
    }
    h1 {
        color: #5D4037; /* Dark brown color */
        margin-bottom: 25px;
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0; /* Margin for spacing between buttons */
        background-color: #D7CCC8; /* Light brown */
        border: 2px solid #A1887F; /* Darker shade of brown */
        border-radius: 20px;
        color: #5D4037; /* Dark brown text */
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #A1887F; /* Darker brown when hovered */
        color: #FFF8F0; /* Light sandy color for text */
    }
</style>
{% endblock meta %}

{% block content %}
<div class="container justify-content-center d-flex"">
    <div class="card">
        <form method="post" action="{% url 'pay_paket' %}">
            {% csrf_token %}
            {% for item in paket %}
            <table class="" style="margin-bottom: 5%; border-color: black;">
                <thead>
                    <tr>
                      <th scope="col" style="text-align: center;">PEMBAYARAN PAKET</th>
                </thead>
            </table>
            <table class="table" style="margin-bottom: 5%;margin-top: 5%; border: 2px solid black;">
                <thead>
                    <tr>
                      <th scope="col">Jenis</th>
                      <th scope="col">Harga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td value="{{ item.jenis }}" name="jenis">{{ item.jenis }}</td>
                        <td value="{{ item.harga }}" name="harga">{{ item.harga }}</td>
                    <tr>
                </tbody>
            </table>
            <select class="form-select"  name="metode_bayar" aria-label="Default select example" style="margin-top: 5%; width: 70%;">
                <option selected disabled>Choose Payment Method</option>
                {% for metode in metode_bayar %}
                <option value="{{ metode }}">{{ metode }}</option>
                {% endfor %}
            </select>
            <div class="container justify-content-center d-flex">
                <button type="submit" class="btn" style="width: 60%; margin-top: 10%;">Pay</button>
            </div>
            {% endfor %}
        </form>
    </div>
</div>

{% if payment_status %}
<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Payment Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if payment_status == 'success' %}
                Berhasil membeli paket langganan
                {% elif payment_status == 'failure' %}
                Pembelian paket gagal.
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var paymentStatus = document.getElementById('paymentStatus');
        var status = paymentStatus.getAttribute('data-status');
        if (status === 'success') {
            var paymentModal = document.getElementById('paymentModal');
            var myModal = new bootstrap.Modal(paymentModal);
            myModal.show();
        }
    });
</script>
{% endblock content %}