{% extends 'base.html' %}

{% block meta %}
<title>Main Page</title>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #F4EFEA; /* Light cream background */
    }
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .card {
        background: #FFF8F0; /* Light sandy color */
        border-radius: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: 500px; /* Adjust width as necessary */
        text-align: center;
    }
    h1 {
        color: #5D4037; /* Dark brown color */
        margin-bottom: 25px;
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0; /* Margin for spacing between buttons */
        background-color: #D7CCC8; /* Light brown */
        border: 2px solid #A1887F; /* Darker shade of brown */
        border-radius: 20px;
        color: #5D4037; /* Dark brown text */
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #A1887F; /* Darker brown when hovered */
        color: #FFF8F0; /* Light sandy color for text */
    }
</style>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="container justify-content-center d-flex" style="margin-top: 10%;">
    <div class="card">
        <table class="" style="margin-bottom: 5%; border-color: black;">
            <thead>
                <tr>
                  <th scope="col" style="text-align: center;">PEMBAYARAN PAKET</th>
            </thead>
        </table>
        <table class="table" style="margin-bottom: 5%;margin-top: 5%; border: 2px solid black;">
            <thead>
                <tr>
                  <th scope="col">Jenis</th>
                  <th scope="col">Harga</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 Bulan</td>
                    <td>Rp54.000</td>
                <tr>
            </tbody>
        </table>
        <select class="form-select" aria-label="Default select example" style="margin-top: 5%; width: 70%;">
            <option selected disabled>Choose Payment Method</option>
            <option value="1">Transfer Bank</option>
            <option value="2">Credit Card</option>
            <option value="3">E-Wallet</option>
        </select>
        <div class="container justify-content-center d-flex">
            <button class="btn" style="width: 60%; margin-top: 10%;">Pay</button>
        </div>
    </div>
</div>
{% endblock content %}