{% extends 'base.html' %}

{% block meta %}
<title>Main Page</title>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #f0f4f8; /* Light background */
    }
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .card {
        background: white;
        border-radius: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: 500px; /* Adjust width as necessary */
        text-align: center;
    }
    h1 {
        color: #333;
        margin-bottom: 25px;
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0; /* Margin for spacing between buttons */
        background-color: #FFFFFF;
        border: 2px solid #5ac8fa;
        border-radius: 20px;
        color: #5ac8fa;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #5ac8fa;
        color: white;
    }
</style>
{% endblock meta %}

{% block content %}
{%include 'navbar.html'%}
<div class="centered-container">
    <div class="card">
        <h1>MARMUT - C13</h1>
        <a class="btn" href="{% url 'show_login' %}">Login</a> <!-- Change to <a> tag -->
        <a class="btn" href="{% url 'show_register' %}">Register</a> <!-- Add correct URL name for register -->
    </div>
</div>
{% endblock content %}
