{% extends 'base.html' %}

{% block meta %}
<title>Login Page</title>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #F4EFEA; /* Light cream background */
    }
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .card {
        background: #FFF8F0; /* Light sandy color */
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 320px; /* Adjusted width */
        text-align: center;
    }
    h1 {
        color: #5D4037; /* Dark brown */
        margin-bottom: 20px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-label {
        display: block;
        margin-bottom: 5px;
    }
    .form-control {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #D7CCC8; /* Light brown */
        border-radius: 5px;
        color: #5D4037; /* Dark brown */
        font-weight: bold;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
    }
    .btn:hover {
        background-color: #A1887F; /* Darker brown */
        color: #FFF;
    }
    .text-center {
        text-align: center;
    }
    .text-danger {
        color: #dc3545;
    }
</style>
{% endblock meta %}

{% block content %}
{%include 'navbar.html'%}

<div class="centered-container">
    <div class="card">
        <h1>Login</h1>
        <form method="POST" action="#" class="form-container">
            {% csrf_token %}
            <div class="form-group">
                <label for="emailInput" class="form-label">Email</label>
                <input type="email" id="emailInput" name="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" id="passwordInput" name="password" class="form-control" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn">Login</button>
            {% if msg %}
            <p class="text-danger text-center">{{ msg }}</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}
