{% extends 'base.html' %}

{% block content %}
<title>Registration Page</title>
<div class="centered-container">
    <div class="card">
        <div class="card-body">
            <h1>Registrasi Label</h1>

            <form method="POST" action="" class="form-container">
                {% csrf_token %}
                <div class="form-group">
                    <label for="emailInput">Email:</label>
                    <input type="email" id="emailInput" name="email" placeholder="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="passwordInput">Password:</label>
                    <input type="password" id="passwordInput" name="password" placeholder="password" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="nameInput">Nama:</label>
                    <input type="text" id="nameInput" name="name" placeholder="nama" class="form-control">
                </div>

                <div class="form-group">
                    <label for="contactInput">Kontak:</label>
                    <input type="text" id="contactInput" name="contact" placeholder="kontak" class="form-control">
                </div>

                <div class="form-group text-center">
                    <button class="btn" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #f0f4f8;
    }
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .card {
        background: white;
        border-radius: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: 500px; /* Adjusted to match the width from your image */
        text-align: center;
    }
    h1 {
        color: #333;
        margin-bottom: 25px;
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #FFFFFF;
        border: 2px solid #5ac8fa;
        border-radius: 20px;
        color: #5ac8fa;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #5ac8fa;
        color: white;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .text-danger {
        color: #dc3545;
    }
    .text-center {
        text-align: center;
    }
</style>
{% endblock content %}
