{% extends 'base.html' %}

{% block meta %}
<title>Main Page</title>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif; /* Consistent font style */
        background-color: #f0f4f8; /* Light background */
    }
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .mainpnl {
        background: white;
        border-radius: 25px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: 50%; /* Adjust width as necessary */
        text-align: center;
    }
    h1 {
        color: #333;
        margin-bottom: 25px;
    }
    .btn {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0; /* Margin for spacing between buttons */
        background-color: #FFFFFF;
        border: 2px solid #5ac8fa;
        border-radius: 20px;
        color: #5ac8fa;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #5ac8fa;
        color: white;
    }
</style>
{% endblock meta %}

{% block content %}
<div class="centered">
    <div class="mainpnl">
        <h1>REGISTER</h1>
        <a class="btn" href="show_register_pengguna">Pengguna</a>
        <a class="btn" href="show_register_label">Label</a>
    </div>
</div>
{% endblock content %}
