{% extends 'base.html' %}

{% block meta %}
<style>
    .btn a {
        color: #5D4037; /* Dark brown */
        text-decoration: none; /* Removes underline */
    }

    .card h1 {
        text-align: center; /* Centers the h1 title */
    }

    .card table {
        width: 100%; /* Full width of the card's content area */
        border-collapse: collapse; /* Ensures borders between cells are merged */
        table-layout: fixed; /* Helps apply a uniform column size and manage overflow */
    }
    .card th, .card td {
        padding: 8px; /* Padding inside cells for better readability */
        border-bottom: 1px solid #ddd; /* Light grey border for each row */
        white-space: normal; /* or use 'pre-wrap' if you want to preserve line breaks */
        word-wrap: break-word;
    }

    .card th {
        text-align: center; /* Center-align the text in the header cells */
        background-color: #5D4037; /* Set the background color to a brown shade */
        color: white; /* Optional: change text color to white for better readability */
    }

    .card th:first-child {
        border-top-left-radius: 5px; /* Rounded top left corner */
        border-bottom-left-radius: 5px; /* Rounded bottom left corner */
    }

    .card th:last-child {
        border-top-right-radius: 5px; /* Rounded top right corner */
        border-bottom-right-radius: 5px; /* Rounded bottom right corner */
    }

    .card tr {
        text-align: center; /* Center-align the text in the header cells */
    }

    .card {
        background-color: #FFF; /* White background for the card */
    }

    body, html {
        background-color: #FFF; /* Set the background color to white */
        min-height: 100%;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-size: cover;
        overflow-x: hidden; /* Prevent horizontal overflow */
    }

    .genre-label {
        font-family: 'Poppins', sans-serif; /* Ensures font consistency */
        color: #5D4037; /* Dark brown, matching the body text color */
        padding-right: 10px; /* Adds some spacing between the label and the button */
    }

    .centered-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Change from center to flex-start to align content to the top */
        align-items: center;
        min-height: 100vh; /* This makes sure it covers at least the entire height of the viewport */
        width: 100%; /* Covers full width */
        padding-top: 50px; /* Adjust top padding as needed */
        margin: 0;
        overflow: auto; /* Allows scrolling within this container if content overflows */
    }

    .card {
        background-color: #FFF; /* Ensures the card background is white */
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 80%;
        max-width: 600px;
        margin-bottom: 20px; /* Ensure there is spacing below the card */
        text-align: left;
        overflow: hidden; /* Hides any overflow within the card, but better to manage content size */
    }

    p {
        color: #5D4037; /* Dark brown */
    }
    .btn {
        display: inline-block;
        width: 100%;
        padding: 8px 15px;
        margin-top: 10px;
        background-color: #D7CCC8; /* Light brown */
        color: #5D4037; /* Dark brown */
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #A1887F; /* Darker brown */
        color: #FFF;
    }
    .slider {
        width: 100%; /* Full width sliders */
        margin: 10px 0;
    }

    .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        z-index: 9999; /* Sit on top */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        text-align: center;
        border-radius: 10px;
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    .btn, .dropbtn {
        display: inline-block;
        width: 100%;
        padding: 8px 15px;
        margin-top: 10px;
        background-color: #D7CCC8; /* Light brown */
        color: #5D4037; /* Dark brown */
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    .btn:hover, .dropbtn:hover {
        background-color: #A1887F; /* Darker brown */
        color: #FFF;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
        width: calc(100% - 20px); /* Adjust width to align with button */
    }

    .dropdown-content label {
        display: block;
        margin: 5px 0px;
    }

    input[type="text"] {
        width: calc(100% - 20px); /* Adjust width to ensure padding is included */
        padding: 8px 15px; /* Same padding as buttons for consistency */
        margin-top: 10px; /* Same top margin as buttons */
        background-color: #FFF; /* White background to match button style */
        border: 2px solid #D7CCC8; /* Border color to match button */
        border-radius: 5px; /* Rounded corners like the buttons */
        font-size: 16px; /* Font size to match button text */
        color: #5D4037; /* Text color to match button */
        font-family: 'Poppins', sans-serif; /* Font family to match site */
        box-sizing: border-box; /* Include padding and border in width */
    }

    input[type="text"]:focus {
        border-color: #A1887F; /* Darker border color on focus */
        outline: none; /* Remove default focus outline */
    }

    .dropdown, .input-group {
        display: flex;
        align-items: center; /* Vertical alignment of the elements */
        width: 100%; /* Full width to align properly */
    }

    .genre-label, .input-label {
        margin-right: 10px; /* Spacing between labels and input/button */
        white-space: nowrap; /* Prevents the label from wrapping */
    }

    /* Button and dropdown button styles */
    .btn, .dropbtn {
        display: inline-block;
        width: 100%;
        padding: 8px 15px;
        background-color: #D7CCC8; /* Light brown */
        color: #5D4037; /* Dark brown */
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    .btn:hover, .dropbtn:hover {
        background-color: #A1887F; /* Darker brown */
        color: #FFF;
    }


</style>
{% endblock meta %}

{% block content %}

<div class="centered-container">
    <div class="card">
        <h1>CREATE PODCAST</h1>
        <br>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="judul">Judul:</label>
                <input type="text" id="judul" name="judul" placeholder="Masukkan judul podcast" class="form-control" required>
            </div>
            <div class="dropdown">
                <span class="genre-label"><strong>Genre:</strong></span>
                <div id="dropdown-content-genre" class="dropdown-content">
                    {% for genre in genres %}
                        <label for="genre{{ genre.genre }}">{{ genre.genre }}</label>
                        <input type="checkbox" id="genre{{ genre.genre }}" name="genre" value="{{ genre.genre}}">
                    {% endfor %}
                </div>
            </div>
            <button onclick="toggleDropdown('dropdown-content-genre')" type="button" class="dropbtn">Select Genre</button>
            <input type="submit" value="SUBMIT" class="btn">
        </form>
        <br>
        <hr>
        {% if podcasts %}
        <h1>LIST PODCAST</h1>
        <table>
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Jumlah Episode</th>
                    <th>Total Durasi</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for podcast in podcasts %}
                <tr>
                    <td>{{ podcast.judul }}</td>
                    <td>{{ podcast.jumlah_episode }}</td>   
                    <td>{{ podcast.durasi }}</td>                   
                    <td><button class="btn"><a href="{% url 'play_podcast' id_podcast=podcast.id %}">Lihat Daftar Episode</a></button>
                        <button class="btn"><a href="{% url 'manage_episode' id_podcast=podcast.id %}">Tambah Episode</a></button>
                        <button class="btn"><a href="{% url 'hapus_podcast' id_podcast=podcast.id %}">Hapus Podcast</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>Anda tidak memiliki podcast</h>
        {% endif %}
    </div>
</div>

<script>
    function toggleDropdown(contentId) {
        var dropdownContent = document.getElementById(contentId);
        if (dropdownContent.style.display === "none") {
            dropdownContent.style.display = "block";
        } else {
            dropdownContent.style.display = "none";
        }
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                }
            }
        }
    }
</script>
{% endblock content %}